@model BE_U2_W2_D5_Albergo.Models.Utente

@{
    ViewBag.Title = "Benvenuto";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Benvenuto, @Model.Username!</h2>
                    <p class="card-text text-center">Grazie per essere entrato nella tua area personale. Qui troverai informazioni importanti sul tuo account.</p>
                    <div class="text-center mt-4">
                        @Html.ActionLink("Torna alla Home", "Index", "Home", new { @class = "btn btn-primary", style = "background-color: #f8b17a; color: #ffffff;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
